<!DOCTYPE html>
<html>
<head>
<center>
	<font color="DodgerBlue" size="5" style="font-family: avenir">
		<body bgcolor="lightgrey">
			<h1>Registrado Exitosamente</h1><br>
			<h2>Este Empleado ha sido agregado a la base de datos correctamente</h2><br>
			<h2>{{ name }}</h2><br>
			<title>Agregar Usuario</title>
				<form action="http://3.17.70.44:80/" autocomplete="on" method = "GET">

					<button type="submit" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">Regresar</button><br><br>

				</form>
		</body>
	</font>
</center>
</head>
<body>

</body>
</html>
